<h1>New Task</h1>

<h2> Please for priority enter:</h2>
<ul>
    <li>1 for high priority</li>
    <li>2 for medium priority</li>
    <li>3 for low priority</li>
</ul>

<%= render 'form', task: @task %>

<%= link_to 'Back', tasks_path %>
